{% extends "base.html" %}

{% block title %}Page Not Found{% endblock %}

{% block content %}
    <h1>Page Not Found</h1>
    <hr>
    <h2>Suggestions</h2>
    {% if suggestions %}
        <p>
            You're looking for {{ requested_path }}, but there's nothing here, here are some suggestions:
        </p>
    {% else %}
        <p>
            You're looking for {{ requested_path }}, but there's nothing here.
        </p>
    {% endif %}
    {% for suggestion in suggestions %}
        <li><a href="{{ suggestion }}">{{ suggestion }}</a> </li>
    {% endfor %}

    <p> Try checking our <a href='/sitemap'>sitemap</a></p>
{% endblock %}
